.titre_01 {
    color:#fad000 ;
    text-align: center;
}

.tableau {
    border-collapse: collapse;
}

.tableau td {
    text-align: center;
    width: 125px;
    height: 125px;
    border: 3px solid #fad000;
    color:  white;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

body {
    background-color: #1e1e3f;

}
