.titre_01 {
    color: red;
    text-align: center;
}

.tableau {
    border-collapse: collapse;
}

.tableau td {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}